@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}

h1 {
  color: #35383f;
  font-weight: 600;
  font-size: 1.7rem;
}

.helper-text {
  color: #35383f;
  font-size: 0.8rem;
  font-weight: 500;
}

.card-title {
  color: #35383f;
  font-size: 0.8rem;
  font-weight: 600;
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 10rem;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(188, 196, 204);
  border-radius: 8px;
  margin: 1rem;
  padding: 1.5rem 2.5rem;
  transition: 0.1s;
}

.card-wide{
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(188, 196, 204);
  border-radius: 8px;
  margin: 1rem;
  margin-left: 0rem;
  padding: 2rem;
  transition: 0.1s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 6px 6px rgba(202, 202, 202, 0.2);
}

.card-focused {
  border: solid 1px lightgray;
  border: solid 2px #3250fe !important;
  box-shadow: 1px 6px 6px rgba(202, 202, 202, 0.507) !important;
  outline: none;
}

.card-img {
  max-width: 8rem;
  margin: 1rem;
}

.btn-primary {
  background-color: #6e7183;
  border: #6e7183;
}


.step-container {
  max-width: 70%;
  justify-content: center;
  margin: auto;
}

.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.result-card-container{
  overflow: auto;
  border-bottom: solid 1px lightgray;
  height: 80vh;
  width: 100%;
}

.btn-group button {
  background-color:#FFF; /* Green background */
  border: 1px solid black; /* Green border */
  border-radius: 10px;
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 5px;
}



/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: lightgray;
}

.dropbtn {
  background-color: #FFF;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: lightgray;
}

.tooltip {
  width: 500px;
}
